<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        /* Inline CSS for quick setup */
        .message {
            color: #FF9800; /* Atom-inspired orange */
            background-color: #1D1F21; /* Atom-inspired dark green background */
            padding: 10px;
            border-radius: 5px;
            font-family: Roboto, sans-serif;
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
<span th:text="${message}" class="message"></span>
</body>
</html>
